<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>asdf</title>
    </head>
    <body>
        <h1>{{ title }}</h1>


<!-- "instance_list is the contect variable we are grabbing from" -->
        {{ instance.title }}</br>
        {{ instance.content }}</br>
        {{ instance.timestamp }}</br>
        {{ instance.updated }}</br>
        {{ instance.id }}</br>
<!-- "we then use dot notation to get the information from each instance// These are all grabbed from the query set  " -->

    </body>
</html>
