* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
    font-family: sans-serif;
}

main {
    border: 1px solid gray;
    box-shadow: 1px 1px 5px gray;
    margin: 50px auto;
}

form {
    margin: 10px auto;
    padding; 20px;
}

label, input {
    display: inline-block;
    vertical-align: bottom;
    margin: 5px 0;
}

input {
    padding: 3px;
}

.messages{
    color: red;
}
